<h1><{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_H1}> #<{$agreement.referee}></h1>
<p><{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_P1}></p>
<h2><{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_H2_GUARDIAN}></h2>
<p><{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_P1_GUARDIAN}></p>
<p style="margin-left: 55px; font-size: 1.8444em; font-weight: 600; margin-top: 15px; margin-bottom: 9px;">
	<{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_GUARDIANNAME}>: <{$guardian.name}><br />
	<{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_GUARDIANEMAIL}>: <{$guardian.email}><br />
	<{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_GUARDIANPHONE}>: <{$guardian.phone}>
</p>
<h2><{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_H2_CLIENTEL}></h2>
<p><{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_P1_CLIENTEL}></p>
<p style="margin-left: 55px; font-size: 1.8444em; font-weight: 600; margin-top: 15px; margin-bottom: 9px;">
	<{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_CLIENTELNAME}>: <{$clientel.name}><br />
	<{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_CLIENTELEMAIL}>: <{$clientel.email}><br />
	<{$smarty.const._MN_CONSENT_INDEX_AGREEMENT_CREATED_CLIENTELPHONE}>: <{$clientel.phone}>
</p>